<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My web site</title>
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    @Html.Partial("HeaderPartial")
    <div class="animated fadeInRight">
    @RenderBody()
    </div>
</body>
</html>