<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My web site</title>
    <link rel="stylesheet" href="/css/vendors/animate.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/lib/vendors/jquery.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="/lib/vendors/vue.js"></script>
</head>

<body>
    @RenderBody()
</body>

</html>