@{
    Layout = "_Layout";
}
<div class="container about">
    <div class="wrapper">
        <h1>@ViewBag.Message</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ad dolor, eos dignissimos optio veritatis iusto non nesciunt quo, vero sint et, tempora consectetur, explicabo eaque earum nulla similique. Sint.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate quidem voluptate cum, illo voluptates accusantium blanditiis, possimus necessitatibus debitis sed unde? Obcaecati sint atque molestias culpa alias doloribus, est.</p>
    </div>
</div>
